<% content_for :title, "Szenen" %>
<h1>Szenen</h1>
<%= link_to "Neue Szene", new_scene_path %>
<ul>
  <% @scenes.each do |scene| %>
    <li>
      <%= scene.name %> (<%= scene.scene_entries.size %> Lampen)
      <%= button_to "Anwenden", apply_scene_path(scene) %>
      <%= link_to "Bearbeiten", edit_scene_path(scene) %>
      <%= button_to "Löschen", scene_path(scene), method: :delete,
                    form: { data: { turbo_confirm: "Szene löschen?" } } %>
    </li>
  <% end %>
</ul>
