<%= form_with model: preset do |f| %>
  <% if preset.errors.any? %>
    <ul class="form-errors">
      <% preset.errors.full_messages.each do |m| %><li><%= m %></li><% end %>
    </ul>
  <% end %>
  <%= f.label :name, "Name" %>            <%= f.text_field :name %>
  <%= f.label :on, "An" %>                <%= f.check_box :on %>
  <%= f.label :brightness, "Helligkeit" %><%= f.number_field :brightness, in: 0..100 %>
  <%= f.label :color_temp_k, "Farbtemperatur (K)" %><%= f.number_field :color_temp_k %>
  <%= f.label :color_r, "R" %><%= f.number_field :color_r, in: 0..255 %>
  <%= f.label :color_g, "G" %><%= f.number_field :color_g, in: 0..255 %>
  <%= f.label :color_b, "B" %><%= f.number_field :color_b, in: 0..255 %>
  <%= f.submit "Speichern" %>
<% end %>
